* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;

}

body {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

a {

  text-decoration: none;

}

li {

  list-style: none;

}

/* NAVBAR STYLING STARTS */

.navbar {

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0px;

  background-color: #000;

  color: #000;

}

.nav-links a {

  color: #000;

}

/* LOGO */

.logo {

  font-size: 32px;
  padding-top: 80px;
  cursor: pointer;


}

/* NAVBAR MENU */

.menu {

  display: flex;

  gap: 1em;

  font-size: 18px;

}

.menu li:hover {

  background-color: #f2f2f2;

  border-radius: 5px;

  transition: 0.3s ease;

}

.menu li {

  padding: 5px 14px;

}
